body, h1, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #ffffff;
  }
  
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2577c8;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .content {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //margin: 20px;
    padding-top: 60px; /* ヘッダーの高さ分だけ上部に余白を追加 */
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
  }
  
 

  .qr-code-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F29A42;
    padding: 20px;
    border-radius: 10px;
    margin: 35px auto;
    text-align: center;
    font-size: 16px;
    line-height: 5vh;
    width: 90%;
    box-sizing: border-box;
  }

  .qr-code-wrapper .highlight {
    color: #fff;
    font-size: 16px;
    
}

  .qr-code-container {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: flex-start; /* 上に揃える */
      width: 100%;
      margin-bottom: 10px;
  }

  .qr-code-section {
      display: flex;         /* フレックスボックスを適用 */
      flex-direction: column; /* 縦に並べる */
      align-items: center;    /* 中央揃え */
      margin-right: 20px;
      text-align: center;
      background-color: #ffffff;
      padding: 10px;
      border-radius: 10px;
  }

  .qr-code {
      width: 90px;
  }

  .qr-code-message {
      color: #ffffff;
      font-size: 3vw;
      line-height: 3;
      text-align: left; /* 左揃えに変更 */
  }

  .qr-code-message .info {
      color: #fff;
      line-height: 1.5;
      margin-top: 11px;  
      margin-left: 10px;   
      text-align: center; 
      font-size: 13px;
  }

  .custom-size {
    font-size: 10px; /* ここで適切なサイズを指定 */
    line-height: 2.5; /* 行間を調整、値はお好みに応じて変更 */

  }
  
  .highlighted {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #EE7800;
    font-size: 25px;
    text-align: center;
    margin-top: 0; /* 追加：余分な上部マージンをリセット */
  }

  .highlighted-text {
    color: #EE7800;

  }
  
  .links-section {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(2, 1fr);
    // gap: 20px;
    // padding: 10px;
    // place-items: center;
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    margin-right: 10px;
    margin-top: 15px;    
  }
  
  // .icon-link {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  //   text-decoration: none;
  //   color: inherit;
  //   border: 1px solid #EE7800;
  //   border-radius: 10px;
  //   padding: 10px;
  //   width: calc(100% - 40px);
  //   max-width: 150px;
  //   height: auto;
  //   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  
  // }
  
  .icon-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    border: 1px solid #EE7800;
    border-radius: 10px;
    padding: 10px;
    width: calc(100% - 40px);
    max-width: 150px;
    height: auto;
    background: #fcfff4;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#fcfff4),
      color-stop(40%, #dfe5d7),
      to(#b3bead)
    );
    background: -webkit-linear-gradient(
      top,
      #fcfff4 0%,
      #dfe5d7 40%,
      #b3bead 100%
    );
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #f3ebdd 100%);
    -webkit-box-shadow: inset 5px 30px 20px rgba(255, 255, 255, 0.5),
      0 6px 10px rgba(0, 0, 0, 0.2);
    box-shadow: inset 5px 30px 20px rgba(255, 255, 255, 0.5),
      0 6px 10px rgba(0, 0, 0, 0.2);
  }
  
  .icon-link:hover {
    -webkit-box-shadow: inset 15px 30px 40px rgba(255, 255, 255, 0.55),
      0 3px 7px rgba(0, 0, 0, 0.2);
    box-shadow: inset 15px 30px 40px rgba(255, 255, 255, 0.55),
      0 3px 7px rgba(0, 0, 0, 0.2);
  }
  
  
  .icon {
    width: 20px;
    height: 20px;
    margin-bottom: 8px;
  }
  
  .icon-link span {
    text-align: center;
    font-size: 8px;
    color: #EE7800;
  }
  
  .footer {
    display: none;
  }
  