<div class="content">
  <h2>アカウント削除の確認</h2>


    <p>本当にアカウントを削除しますか？<br>この操作は取り消せません。</p>
    <div class="delet_button">
        <%= button_to '削除する', destroy_account_path, method: :delete, data: { confirm: '本当にアカウントを削除してもよろしいですか？' } , class: "btn btn-secondary"%>
        <%= link_to '戻る', edit_user_registration_path %>
    </div>
</div>
