<div class="delete-confirmation-container">
  <h2>アカウント削除の確認</h2>

  <p>本当にアカウントを削除しますか？<br>この操作は取り消せません。</p>

    <div class="center-actions">
      <%= button_to '削除する', destroy_account_path, method: :delete, class: 'button-danger' %>
      <%= link_to '戻る', edit_user_registration_path, class: 'link-back' %>
    </div>
</div>
