<div class="delete-confirmation-container">
  
  <h2>アカウントが<br>削除されました</h2>

  <div class="logo-container">
    <img src="<%= asset_path('logotype.png') %>" alt="Logo" class="logo">
  </div>

  <p class="thank-you-message">ご利用ありがとうございました!</p>

  <%= link_to 'ホームに戻る', root_path, class: 'btn-primary-home' %>
</div>
